@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add Author</h1>
<a href="Author\Create">Add a new author</a>
<a href="Author\ViewAll">View all authors</a>
