@using MyBookStoreApp.MyBookStoreApp.Web.ViewModels
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@model MyBookStoreApp.MyBookStoreApp.Web.ViewModels.GenreViewModel


<h2 class="card-header">Edit genre details</h2>

<div class="p-3">
    <div id="AcknowledgementBox"></div>
    <form method="patch" asp-action="Update" asp-controller="Genre">
        <div class="container">
            <input type="hidden" asp-for="GenreId" />
            <div class="form-group my-5 row">
                <label asp-for="Name" class="form-label col-md-2"></label>
                <div class="col-md-10 row">
                    <input asp-for="Name" class="form-control col" />
                    <span asp-validation-for="Name" class="col  text-danger"></span>
                </div>
            </div>

            <div class="form-group my-5 row">
                <label asp-for="Description" class="form-label col-md-2"></label>
                <div class="col-md-10 row">
                    <input asp-for="Description" class="form-control col" />
                    <span asp-validation-for="Description" class="col text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-md-2 col-md-4">
                    <button type="button" class="btn btn-primary" onclick="updateGenre()">Update</button>
                    <button type="reset" class="btn btn-danger" onclick="resetValidation()">Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function updateGenre() {
        var form = document.querySelector('form');
        var formData = new FormData(form);

        fetch(form.action, {
            method: 'PATCH',
            body: formData
        })
            .then(response=> response.json())
            .then(data => {
                if (data.success) {
                    console.log('Genre details updated successfully.');
                    displayResult(true, data.message);

                } else {
                    console.log('Failed to update Genre details.');
                    displayResult(false, data.message);
                }
            })
            .catch(error => {
                console.error('An error occurred while updating genre details:', error);
                displayResult(false, data.message);
            });
    }

    function displayResult(isSuccess, message) {
        var acknowledgementBox = document.getElementById("AcknowledgementBox");
        acknowledgementBox.className = "";
        if (isSuccess) {
            acknowledgementBox.classList.add("text-success", "card", "alert-success", "p-4");
            acknowledgementBox.textContent = message;
        }
        else {
            acknowledgementBox.classList.add("text-danger", "card", "alert-danger", "p-4");
            acknowledgementBox.textContent = message;
        }
    }

    function resetValidation() {
        // Clear all validation messages
        var validationElements = document.getElementsByClassName("text-danger");
        var acknowledgementBox = document.getElementById("AcknowledgementBox");
        acknowledgementBox.className = "";
        acknowledgementBox.textContent = "";
        for (var i = 0; i < validationElements.length; i++) {
            validationElements[i].textContent = "";
        }
    }
</script>