<div class="container bg-secondary text-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <img src="https://icons8.com/icon/HolDUEmeXTjA/bookstore" alt="Logo" class="container-sm img-responsive">
            </div>
            <div class="col-lg-10">
                <h1 class="website-name">Footer</h1>
            </div>
        </div>
    </div>
</div>
